#home {
  height: 100vh;
  width: 100%;
}
.title {
  display: flex;
}
.title .left__text {
  font-family: Gilroy;
  position: absolute;
  font-size: 6rem;
  left: 10vw;
  z-index: 10;
  top: 20vh;
}
.title .right__text {
  font-family: Gilroy;
  position: absolute;
  font-size: 6rem;
  right: 20vw;
  top: 60vh;
}

.img-container img {
  height: 60vh;
  left: 37%;
  position: absolute;
  top: 20vh;
}

.info {
  font-family: poppins;
  padding: 85vh 0vw 0vh 10vh;
}

@media (max-width: 600px) {
  .title {
    margin-left: 20px;
  }
  .title .left__text {
    font-family: Gilroy;
    position: absolute;
    font-size: 2.5rem;
    left: 20vw;
    z-index: 10;
    top: 15vh;
  }
  .title .right__text {
    font-family: Gilroy;
    position: absolute;
    font-size: 2.5rem;
    left: 30vw;
    top: 67vh;
  }
  .img-container img {
    height: 50vh;
    left: 12%;
    position: absolute;
    top: 20vh;
  }
  .info {
    font-family: poppins;
    padding: 75vh 0vw 0vh 5vh;
    font-size: 12px;
    width: 300px;
    display: flex;
    text-align: center;
  }
}
